# Override values for restic.

resources:
  limits:
    memory: 2Gi
  requests:
    cpu: 1
    memory: 1Gi

persistence:
  source:
    storage: 3500Gi
    nfsServer: truenas-1.tgp
    nfsPath: /mnt/ZFS-3.6TB/tank
    nfsSubDatasetPaths:
      - flatnotes-data
      - gonic-data
      - habittrove-data
      - nextcloud-data
      - postgresql-data
      - stash-data
      - vaultwarden-data
      - wireguard-data

nodeSelector:
  performance: high

jobNodeSelector:
  performance: high

affinity: {}
