apiVersion: v1
kind: Service
metadata:
  name: {{ include "airsonic.fullname" . }}
  labels:
    {{- include "airsonic.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.targetPort }}
      protocol: TCP
      name: http
  selector:
    {{- include "airsonic.selectorLabels" . | nindent 4 }}
  loadBalancerIP: {{ .Values.service.loadBalancerIP }}
