# Override values for stash
controllers:
  main:
    containers:
      main:
        image:
          # -- image repository
          repository: stashapp/stash
          # -- image tag
          # @default -- chart.appVersion
          tag: v0.29.3
          # -- image pull policy
          pullPolicy: IfNotPresent

        # -- environment variables. See more environment variables in the [stash documentation](https://github.com/stashapp/stash).
        # @default -- See below
        env:
          STASH_CONFIG_FILE: /data/config/config.yml
          STASH_STASH: /data/stash/
          STASH_GENERATED: /data/generated/
          STASH_METADATA: /data/metadata/
          STASH_CACHE: /tmp/cache/

        resources: {}
          # limits:
          #   memory: 600Mi
          # requests:
          #   cpu: 15m
          #   memory: 100Mi
        probes:
          liveness:
            enabled: true
          readiness:
            enabled: true
          startup:
            enabled: true
            spec:
              failureThreshold: 30
              periodSeconds: 5


defaultPodOptions:
  nodeSelector:
    performance: medium

# -- Configures service settings for the chart.
# @default -- See values.yaml
service:
  main:
    controller: main
    ports:
      http:
        port: 9999

ingress:
  main:
    enabled: true
    annotations:
      cert-manager.io/cluster-issuer: "letsencrypt-homelab"
      nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
      nginx.ingress.kubernetes.io/proxy-body-size: 100m
    hosts:
      - host: stash.computersbarely.work
        paths:
          - path: /
            service:
              identifier: main
              port: http
    tls:
      - secretName: stash-tls
        hosts:
          - stash.computersbarely.work

persistence:
  data:
    enabled: true
    accessMode: ReadWriteOnce
    # Persistent Volume Storage Clas
    storageClass: stash-data
    size: 500Mi
    # Do not delete the pvc upon helm uninstall
    retain: true
